{
  "semi": true,
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "useTabs": false,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "importOrder": [
    "^(react|react-dom)$",
    "@[a-zA-Z@]",
    ".*Store",
    ".*(types?|dto)$",
    "^@/app/(.*)$",
    "^@/pages/(.*)$",
    "^@/widgets/(.*)$",
    "^@/features/(.*)$",
    "^@/entities/(.*)$",
    "^@/shared/(.*)$",
    ".*service$",
    ".*queries$",
    ".*use[A-Z].*$",
    ".*constants?$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
